{% extends 'layout.html' %}
{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"
          integrity="sha256-UK1EiopXIL+KVhfbFa8xrmAWPeBjMVdvYMYkTAEv/HI=" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"
          integrity="sha256-4hqlsNP9KM6+2eA8VUT0kk4RsMRTeS7QGHIM+MZ5sLY=" crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.slim.min.js"
            integrity="sha256-MlusDLJIP1GRgLrOflUQtshyP0TwT/RHXsI1wWGnQhs=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js"
            integrity="sha256-zUQGihTEkA4nkrgfbbAM1f3pxvnWiznBND+TuJoUv3M=" crossorigin="anonymous" defer></script>
{% endblock %}
{% block content %}
    <section class="section">

    </section>
    <section class="">
        <div class="columns is-centered">
            <div class="column section">
                <h1 class="easy-font is-title has-text-weight-semibold has-text-centered"> About us </h1>
            </div>
            <div class="column section">
                <div class="about-us-carousel">
                    <div class="about-us-column has-bg-blue">
                        <div class="column has-text-centered has-text-white carousel-font-size easy-font">The Mission
                        </div>
                        <div class="column has-text-white has-text-centered">Coming soon</div>
                    </div>
                    <div class="about-us-column has-bg-blue">
                        <div class="column has-text-centered has-text-white carousel-font-size easy-font">The Team
                        </div>
                        <div class="column has-text-white has-text-centered">Coming soon</div>
                    </div>
                </div>

                <script>
                    $(document).ready(function () {
                        $('.about-us-carousel').slick({
                            autoplay: true,
                            autoplaySpeed: 15000,
                            respondTo: 'min',
                            slidesToShow: 1


                        })
                        ;
                    });
                </script>
            </div>
        </div>

    </section>
{% endblock %}