{% extends 'layout.html' %}
{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"
          integrity="sha256-UK1EiopXIL+KVhfbFa8xrmAWPeBjMVdvYMYkTAEv/HI=" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"
          integrity="sha256-4hqlsNP9KM6+2eA8VUT0kk4RsMRTeS7QGHIM+MZ5sLY=" crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.slim.min.js"
            integrity="sha256-MlusDLJIP1GRgLrOflUQtshyP0TwT/RHXsI1wWGnQhs=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js"
            integrity="sha256-zUQGihTEkA4nkrgfbbAM1f3pxvnWiznBND+TuJoUv3M=" crossorigin="anonymous" defer></script>
{% endblock %}
{% block content %}

    <section class="section">
        <div class="container level">
            <h1 class="level-item value-prop easy-font has-text-weight-semibold has-text-centered">
                Don't waste your valuable time.
            </h1>
        </div>
    </section>
    <section class="">
        <div class="">
            <!-- Start Carousel -->
            <div id="carousel-demo" class="carousel">

                <div class="carousel-item">
                    <div class="is-flex is-column is-bg-blue">
                        <div class="has-text-centered has-text-white carousel-font-size easy-font">Heatmaps</div>
                        <div class="container is-carousel-slider-bg has-text-centered"
                             style="background-image: url('/static/images/intro_slider_1.png')">
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="is-flex is-column is-bg-blue">
                        <div class="has-text-centered has-text-white carousel-font-size easy-font">Quick overviews</div>
                        <div class="container is-carousel-slider-bg has-text-centered"
                             style="background-image: url('/static/images/intro_slider_2.png')">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="is-flex is-column is-bg-blue">
                        <div class="has-text-centered has-text-white carousel-font-size easy-font">Favorites</div>
                        <div class="container is-carousel-slider-bg has-text-centered"
                             style="background-image: url('/static/images/intro_slider_3.png')">
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Carousel -->
        </div>
    </section>

    <script>
        $(document).ready(function () {
            $('.carousel').slick({
                autoplay: true,
                autoplaySpeed: 5000
            })
            ;
        });
    </script>

    <section class="section is-flex is-vertical">
        <div class="container easy-font is-title ">
            <h1 class="p-b-xl has-text-centered">Soon available on iOS and Android</h1>


            <div class="container level">
                <div class="level-item ">
                    <button class="button is-info download-app-button" onclick="Soon()">App Store <span class="p-l-sm"><i
                            class=" fab fa-apple"></i></span>
                    </button>
                </div>
                <div class="level-item ">
                    <button class="button is-success download-app-button" onclick="Soon()">Play Store <span class="p-l-sm" disabled><i
                            class="fab fa-android"></i></span></button>
                </div>

            </div>

        </div>
    </section>

    <script>
        function Soon() {
            alert('Soon!')
        }

    </script>
{% endblock %}