{% extends 'layout.html' %}
{% block head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/css/bulma-carousel.min.css">
{% endblock %}
{% block content %}

    <section class="section">
        <div class="container level">
            <h1 class="level-item value-prop easy-font has-text-weight-semibold has-text-centered">
                Don't waste your valuable time.
            </h1>
        </div>
    </section>
    <section class="">
        <div class="">
            <!-- Start Carousel -->
            <div id="carousel-demo" class="carousel">

                <div class="carousel-container">
                    <div class="is-flex is-column is-bg-blue">
                        <div class="has-text-centered has-text-white carousel-font-size easy-font">Heatmaps</div>
                        <div class="container is-carousel-slider-bg has-text-centered"
                             style="background-image: url('/static/images/intro_slider_1.png')">
                        </div>
                    </div>
                </div>

                <div class="carousel-container">
                    <div class="is-flex is-column is-bg-blue">
                        <div class="has-text-centered has-text-white carousel-font-size easy-font">Quick overviews</div>
                        <div class="container is-carousel-slider-bg has-text-centered"
                             style="background-image: url('/static/images/intro_slider_2.png')">
                        </div>
                    </div>
                </div>
                <div class="carousel-container">
                    <div class="is-flex is-column is-bg-blue">
                        <div class="has-text-centered has-text-white carousel-font-size easy-font">Select your favorites</div>
                        <div class="container is-carousel-slider-bg has-text-centered"
                             style="background-image: url('/static/images/intro_slider_3.png')">
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Carousel -->
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/js/bulma-carousel.min.js"></script>
    <script>
        bulmaCarousel.attach('#carousel-demo', {
            slidesToScroll: 1,
            slidesToShow: 1,
            autoplaySpeed: 7000,
            navigationSwipe: true,
            breakpoints: [{changePoint: 480, slidesToShow: 1, slidesToScroll: 1}, {
                changePoint: 640,
                slidesToShow: 1,
                slidesToScroll: 1
            }, {changePoint: 768, slidesToShow: 1, slidesToScroll: 1}]

        });
    </script>

    <section class="section is-flex is-vertical">
        <div class="container easy-font is-title ">
            <h1 class="p-b-xl has-text-centered">Available on iOS and Android</h1>


            <div class="container level">
                <div class="level-item "><a href="#" class="">
                    <button class="button is-info download-app-button">App Store <span class="p-l-sm"><i
                            class=" fab fa-apple"></i></span>
                    </button>
                </a></div>
                <div class="level-item "><a href="#" class="">
                    <button class="button is-success download-app-button">Play Store <span class="p-l-sm"><i
                            class="fab fa-android"></i></span></button>
                </a></div>

            </div>

        </div>


    </section>
{% endblock %}